html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10vw;
    background-color: #FFFFE7;
    width: 100%;
    height: auto;
    font-family: 'Libre Baskerville', serif;
    line-height: 2.5vw;
    animation: back 22s linear infinite alternate;
    color: rgb(26, 14, 4);
}

header {
    height: 5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #6F9AC5;
    color: whitesmoke;
    align-items: center;
    font-size: 1.3em;
    box-shadow: 0px 0.6vw 0.6vw rgba(0, 0, 0, 0.25);
    position: fixed;
    transition: all ease 1s;
    z-index: 99;
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 8vw;
    padding-top: 10vw;
}

footer {
    height: 24vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #6F9AC5;
    color: whitesmoke;
    align-items: center;
    box-shadow: 0px -0.6vw 0.6vw rgba(0, 0, 0, 0.25);
    text-shadow: 0.5px 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4vw;
    padding-left: 5vw;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 3vw;
    padding-right: 7vw;
    font-size: 1.4em;
}

.links {
    cursor: pointer;
    text-shadow: 0.5px 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    transition: all ease 0.15s;
    border-bottom: solid 2px rgba(245, 245, 245, 0);
    border-top: solid 2px rgba(245, 245, 245, 0);
}

.links-icons {
    cursor: pointer;
    text-shadow: 0.5px 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    transition: all ease 0.15s;
    border-bottom: solid 2px rgba(245, 245, 245, 0);
    border-top: solid 2px rgba(245, 245, 245, 0);
}

.header-logo {
    margin-left: auto;
    margin-right: auto;
    background-image: url(../Imgs/Logo.png);
    background-size: 10vw;
    background-position: center;
    border: 0.2vw solid #6F9AC5;
    border-radius: 150px;
    width: 8vw;
    height: 8vw;
    margin-top: 4vw;
    box-shadow: 0px 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0.7vw;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.headline {
    text-align: center;
    font-size: 3.1vw;
    font-weight: 700;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 45vw;
    justify-content: center;
    height: auto;
    align-items: center;
    gap: 3vw;
    font-size: 2.2em;
    font-weight: 700;
}

.contacts-content {
    display: flex;
    flex-direction: row;
    width: 45vw;
    justify-content: center;
    height: auto;
    align-items: center;
    gap: 1vw;
}

.contacts-headlines {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 12vw;
    gap: 1vw;
    font-size: 0.6em;
    font-weight: 400;
}

.contacts-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 33vw;
    gap: 1vw;
    font-size: 0.6em;
    font-weight: 400;
}

.contacts-phone {
    display: flex;
    flex-direction: column;
}

.partners {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 2.2em;
    font-weight: 700;
}

.partners-whole {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.partners-individual {
    height: 8vw;
    width: 8vw;
    border-radius: 150px;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 55px;
    z-index: 99;
    border: solid 3px #FFFFE7;
    outline: none;
    background-color: #6F9AC5;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    transition: all ease 0.3s;
}

#myBtn:hover {
    background-color: whitesmoke;
    border: solid 3px #6F9AC5;
    color: black;
}

.links:hover {
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    border-bottom: solid 2px whitesmoke;
    border-top: solid 2px whitesmoke;

}

.links-icons:hover {
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    border-bottom: solid 2px whitesmoke;
    border-top: solid 2px whitesmoke;

}

a,
a:visited,
a:hover,
a:focus,
a:hover,
a:active {
    text-decoration: none;
    color: black
}

@keyframes back {
    from {
        background-color: #FFFFE7;
    }

    to {
        background-color: #fdf6b7;
    }
}

@keyframes productsborder {
    from {
        border-color: #FFFFE7;
    }

    to {
        border-color: #fdf6b7;
    }
}

@media (max-width: 1350px) {
    header {
        height: 6vw;
        font-size: 1.5vw;
    }

    footer {
        height: 20vw;
        box-shadow: 0px -0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    }

    .contact {
        font-size: 2.4vw;
        font-weight: 650;
    }

    .contacts-headlines {
        font-size: 1.4vw;
    }

    .contacts-data {
        font-size: 1.4vw;
    }

    .partners {
        font-size: 2.5vw;
        font-weight: 650;
    }

    #myBtn {
        bottom: 4vw;
        right: 2.5vw;
        padding: 1.5vw;
        font-size: 2vw;
        font-weight: 600;
    }

}

@media (max-width: 850px) {
    header {
        height: 8vw;
    }

    .links {
        font-size: 1.8vw;
    }

    .header-left {
        gap: 2.5vw;
    }

    .links-icons {
        font-size: 2.5vw;
    }

    .links:hover {
        padding-top: 1vw;
        padding-bottom: 1vw;
        border-bottom: solid 1.8px whitesmoke;
        border-top: solid 1.8px whitesmoke;
    }

    .links-icons:hover {
        padding-top: 0.7vw;
        padding-bottom: 0.7vw;
        border-bottom: solid 1.8px whitesmoke;
        border-top: solid 1.8px whitesmoke;

    }

    .header-logo {
        border: 0.4vw solid #6F9AC5;
        width: 11vw;
        height: 11vw;
        top: 3vw;
    }

    .contacts-data,
    .contacts-headlines {
        font-size: 0.7em;
    }

    footer {
        height: 30vw;

    }
}

@media (max-width:600px) {
    header {
        height: 11vw;
    }

    .links {
        font-size: 2.2vw;
    }

    .header-left {
        gap: 2.5vw;
    }

    .header-right {
        gap: 5vw;
    }

    .links-icons {
        font-size: 3vw;
    }

    .links:hover {
        padding-top: 1.2vw;
        padding-bottom: 1.2vw;
    }

    .links-icons:hover {
        padding-top: 0.9vw;
        padding-bottom: 0.9vw;

    }

    .header-logo {
        border: 0.4vw solid #6F9AC5;
        width: 12vw;
        height: 12vw;
        top: 4vw;
    }

    #myBtn {
        bottom: 4vw;
        right: 2.5vw;
        padding: 2vw;
        font-size: 3vw;
    }
}

@media (max-width:500px) {
    header {
        height: 13vw;
    }

    .links {
        font-size: 2.6vw;
    }

    .header-left {
        gap: 2vw;
    }

    .header-right {
        gap: 7vw;
    }

    .links-icons {
        font-size: 4vw;
    }

    .links:hover {
        padding-top: 1.2vw;
        padding-bottom: 1.2vw;
    }

    .links-icons:hover {
        padding-top: 0.9vw;
        padding-bottom: 0.9vw;
    }

    .header-logo {
        border: 3px solid #6F9AC5;
        width: 13vw;
        height: 13vw;
        top: 5vw;
    }

    footer {
        height: 50vw;
    }

    .contact {
        display: flex;
        flex-direction: column;
        width: 70vw;
        justify-content: center;
        height: auto;
        align-items: center;
        gap: 1vw;
        font-size: 4vw;
        font-weight: 700;
    }

    .contacts-content {
        width: 80vw;
        gap: 1vw;
        line-height: 3vw;
    }

    .contacts-headlines {
        padding-top: 5vw;
        width: 20vw;
        gap: 7vw;
        font-size: 2.5vw;
    }

    .contacts-data {
        padding-top: 5vw;
        width: 55vw;
        gap: 7vw;
        font-size: 2.5vw;
    }

    .partners {
        display: flex;
        flex-direction: column;
        width: 15vw;
        height: auto;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        font-size: 4vw;
        font-weight: 700;
    }

    .partners-whole {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

    .partners-individual {
        height: 10vw;
        width: 10vw;
    }
}